<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mr.Eslami Quiz</title>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <style>

    #tb2{
      margin-left: 1%;
    }

</style>
  
</head>
<body>
  

<div id="print">


  <input type="radio" id="+" name="operator" value="+" v-model="operator">
  <label for="+">+</label>
  <input type="radio" id="-" name="operator" value="-" v-model="operator">
  <label for="-">-</label><br>
<br>
  <input v-model.number="num1" />
  <input v-model.number="num2" id="tb2" />
<br> <br>
<div v-show="operator == '+'">
  {{num1+num2}}
</div>
<div v-show="operator == '-'">
  {{num1-num2}}
</div>
  
</div>

<script>
  const { createApp } = Vue

  createApp({
    data() {
      return {
        num1:"",
        num2:"",
        operator:""
      }
    }
  }).mount('#print')
</script>
</body>
</html>